{% extends "app_contabilidad_inversiones/layout.html" %}

{% block body %}

    <h1>Ingresar nueva transacción</h1>
    <!--
    <form action="{% url 'app_contabilidad_inversiones:ingresar_transaccion' %}" method="POST">
        {% csrf_token %}
        <input type="date" placeholder="Fecha de la transacción" name="fecha_transaccion">
        <input type="text" placeholder="Nombre del activo" name="nombre_activo">
        <input list="plataformas_inversion" placeholder="Plataforma" name="plataforma_inversion">
            <datalist id="plataformas_inversion">
                <option value="MINTOS"></option>
                <option value="AXA"></option>
                <option value="DE GIRO"></option>
            </datalist>        
        <input type="number" step="0.01" placeholder="Precio (€)" name="precio_transaccion">
        <input type="submit" class="espacio_superior" name="envio_nueva_transaccion">
    </form>
    -->
    <form action="{% url 'app_contabilidad_inversiones:ingresar_transaccion' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit">
    </form>

    <div class="espacio_superior">
        <a href="{% url 'app_contabilidad_inversiones:index' %}">Volver a la página inicial</a>
    </div>

{% endblock %}